# 依赖与构建产物(镜像内重新安装/构建)
**/node_modules
**/dist
**/coverage

# 版本控制与本地文件
.git
.gitignore
.DS_Store
**/*.log
**/*.local

# 与镜像构建无关的文件
README.md
docker-compose.yml
**/Dockerfile
.dockerignore
.prettierignore
